/* Color Palette
Accent: #0070E2;
Header Accent: #0070E2;
Shadow: #041D4A;
*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* My Styles */

a:link, a:visited {
  text-decoration: none;
  color: #0070E2;
}

a:hover, a:active {
  color: #0981D2;;
}

/***** Header Styles *****/

.App header {
  background-color: #222;
}

.App header .Banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
  margin: 0;
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.App header .Banner h1 {
  color: white;
}

.App header .Banner h2 {
  color: #0070E2;
}

.App header .Banner .MyStuff {
  width: 30%;
  height: auto;
  padding: 0;
}

.App header .Banner .MyStuff img {
  margin: 0 5%;
  /*padding: ;*/
  width: 10%;
  height: auto;
}

/***** Nav Styles *****/

.App nav {
  /*padding-bottom: .1%;*/
}

.App nav ul {

}

.App nav li {
  margin: 0 5%;
  display: inline-block;
  list-style: none;
  padding: 1.5% 1%;
  width: 10%;
  height: 1.5%;
 /* border: 2px #0070E2 solid;
  border-radius: 5px;*/
  font-size: 1.3vw;
  font-weight: 600;
}

.App nav li a:link, a:visited {
  color: white;
}

.App nav li:hover {
  background-color: #0070E2;
  border-radius: 5px 5px 0 0;
  color: white;
}

.App main {
  margin: 0 auto;
  width: 80%;

}

/***** About Styles *****/

.App main .About {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.App main .About img {
  margin: 0 auto;
  text-align: center;
  border: 1px #0070E2 solid;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  opacity: .6;
  flex-basis: 30%;
}

.App main .About .AboutMe {
  flex-basis: 50%;
}

.App main .About .AboutMe p {
  font-size: 1.5vw;
}

/***** Projects Styles *****/

.App main .Projects ul {
  padding: 0;
}

.App main .Projects li {
  margin: .5%;
  display: inline-block;
  list-style: none;
  padding: 1%;
  width: 40%;
  height: 40%;
  border: 2px #0070E2 solid;
  border-radius: 5px;
}

.App main .Projects li img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.App main .Projects li:hover {
  cursor: pointer;
  background-color: #0070E2;
  color: white;
}

/*** Individual Project Styles ***/

.App main .Projects .project {
  margin: 0 auto;
  max-width: 70%;
}

.App main .Projects .project .show-gallery-btn {
  width: 4%;
  height: 2%;
  padding: 0.5%;
  color: #0070E2;
  font-size: 1.8vw;
  font-weight: 600;
  border: 2px #0070E2 solid;
  border-radius: 5px;
}

.App main .Projects .project .show-gallery-btn:hover {
  background-color: #0070E2;
  color: white;
  cursor: pointer;
}

.App main .Projects .web-project {
  padding: 1%;
  background-color: rgba(22, 22, 22, .2);
  border-radius: 5px;
  display: flex;
  flex-flow: row;
}

.App main .Projects .project-image {
  width: 100%;
  height: auto;
}

.App main .Projects .web-project .web-project-info {
  padding: 2%;
  font-size: 130%;
  font-family: serif;
  font-weight: 100;
  color: black;
  text-align: left
}

.App main .Projects .web-project .web-project-info span {
  color: #0070E2;
  font-weight: 600;
  font-family: sans-serif;
}

.App main .Projects .web-project .web-project-info .icon {
  width: 10%;
  height: auto;
  margin: 0 5% 0 0;
  height: auto;
  text-align: center;
  text-align: center;
}

.App main .Projects .web-project .web-project-info .icon:hover {
  width: 10%;
  height: auto;
  height: auto;
  text-align: center;
  background-color: #041D4A;
  border-radius: 50%;
}

/***** Contact Styles *****/

.App main .Contact {
  text-align: center;
}

.App main .Contact .contact-form {
  margin: 3%;
  padding: 3%;
  background-color: rgba(22, 22, 22, .9);
  color: white;
  border-radius: 5px;
}

.App main .Contact input {
  width: 30%;
  height: auto;
}

.App main .Contact textarea {
  width: 30%;
  height: auto;
}

.App main .Contact button {
  /*width: 10%;
  height: 50%;*/
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 1% 5%;
  font-size: 90%;
  border: 2px #0070E2 solid;
}

.App main .Contact button:hover {
  background-color: #0070E2;
  color: white;
}
