/* Color Palette
Accent: #0971B2;

*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* My Styles */

a:link, a:visited {
  text-decoration: none;
  color: #0971B2;
}

a:hover, a:active {
  color: #0981D2;;
}

/***** About *****/

.App header {
  background-color: #222;
}

.App header .Banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
  margin: 0;
}

.App header .Banner h1 {
  color: white;
}

.App header .Banner h2 {
  color: #0971B2;
}

.App header .Banner .MyStuff {
  width: 30%;
  height: auto;
  padding: 0;
}

.App header .Banner .MyStuff img {
  margin: 0 5%;
  /*padding: ;*/
  width: 10%;
  height: auto;
}

/***** Nav *****/

.App nav {
  /*padding-bottom: .1%;*/
}

.App nav ul {

}

.App nav li {
  margin: 0 5%;
  display: inline-block;
  list-style: none;
  padding: 1.5% 1%;
  width: 10%;
  height: 1.5%;
 /* border: 2px #0971B2 solid;
  border-radius: 5px;*/
  font-size: 1.3vw;
  font-weight: 600;
}

.App nav li a:link, a:visited {
  color: white;
}

.App nav li:hover {
  background-color: #0971B2;
  border-radius: 5px 5px 0 0;
  color: white;
}

.App main {
  margin: 0 auto;
  width: 80%;

}

/***** About *****/

.App main .About {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.App main .About img {
  margin: 0 auto;
  text-align: center;
  border: 1px #0971B2 solid;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  opacity: .6;
  flex-basis: 30%;
}

.App main .About .AboutMe {
  flex-basis: 50%;
}

.App main .About .AboutMe p {
  font-size: 1.5vw;
}

/***** Projects *****/

.App main .Projects ul {
  padding: 0;
}

.App main .Projects li {
  margin: .5%;
  display: inline-block;
  list-style: none;
  padding: 1%;
  width: 40%;
  height: 40%;
  border: 2px #0971B2 solid;
  border-radius: 5px;
}

.App main .Projects li img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.App main .Projects li:hover {
  cursor: pointer;
  background-color: #0971B2;
  color: white;
}

.App main .Projects .SteveFighter {
  /*position: fixed;*/
}

/***** Contact *****/

.App main .Contact {
  text-align: center;
}

.App main .Contact .contact-form {
  margin: 3%;
  padding: 3%;
  background-color: rgba(22, 22, 22, .9);
  color: white;
  border-radius: 5px;
}

.App main .Contact input {
  width: 30%;
  height: auto;
}

.App main .Contact textarea {
  width: 30%;
  height: auto;
}

.App main .Contact button {
  /*width: 10%;
  height: 50%;*/
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 1% 5%;
  font-size: 90%;
  border: 2px #0971B2 solid;
}

.App main .Contact button:hover {
  background-color: #0971B2;
  color: white;
}
