/* Color Palette
Accent: #0971B2;

*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* My Styles */

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {

}

.App header .Banner h2 {
  color: #0971B2;
}

.App nav ul {

}

.App nav li {
  margin: 0 5%;
  display: inline-block;
  list-style: none;
  padding: 1.5% 3%;
  width: 5%;
  height: 1.5%;
  border: 2px #0971B2 solid;
}

.App nav li a:link, a:visited {
  color: black;
}

.App nav li:hover {
  background-color: #0971B2;
  color: white;
}

.App nav li a:hover, a:active {
  color: white;
}


